USE [master]
GO
/****** Object:  Database [HW2TASKS5-6]    Script Date: 8/23/2014 3:48:29 PM ******/
CREATE DATABASE [HW2TASKS5-6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HW2TASKS5-6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HW2TASKS5-6.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HW2TASKS5-6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HW2TASKS5-6_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HW2TASKS5-6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HW2TASKS5-6]
GO
/****** Object:  Table [dbo].[ANTONYMSTABLE]    Script Date: 8/23/2014 3:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANTONYMSTABLE](
	[antonym1_id] [int] NOT NULL,
	[antonym2_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DESCRIPTION]    Script Date: 8/23/2014 3:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESCRIPTION](
	[description_id] [int] NOT NULL,
	[description_content] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_DESCRIPTION] PRIMARY KEY CLUSTERED 
(
	[description_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LANGUAGE]    Script Date: 8/23/2014 3:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUAGE](
	[language_id] [int] NOT NULL,
	[language_content] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LANGUAGE] PRIMARY KEY CLUSTERED 
(
	[language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARTOFSPEECH]    Script Date: 8/23/2014 3:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTOFSPEECH](
	[partofspeech_id] [int] NOT NULL,
	[partofspeech_content] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PARTOFSPEECH] PRIMARY KEY CLUSTERED 
(
	[partofspeech_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYNONYMSTABLE]    Script Date: 8/23/2014 3:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYNONYMSTABLE](
	[synonym1_id] [int] NOT NULL,
	[synonym2_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORD]    Script Date: 8/23/2014 3:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORD](
	[word_id] [int] NOT NULL,
	[word_content] [nvarchar](20) NOT NULL,
	[word_language] [int] NOT NULL,
	[hyponym_to] [int] NULL,
	[partofspeech_id] [int] NOT NULL,
	[word_description] [int] NOT NULL,
 CONSTRAINT [PK_WORD] PRIMARY KEY CLUSTERED 
(
	[word_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ANTONYMSTABLE]  WITH CHECK ADD  CONSTRAINT [FK_ANTONYMSTABLE_WORD] FOREIGN KEY([antonym1_id])
REFERENCES [dbo].[WORD] ([word_id])
GO
ALTER TABLE [dbo].[ANTONYMSTABLE] CHECK CONSTRAINT [FK_ANTONYMSTABLE_WORD]
GO
ALTER TABLE [dbo].[ANTONYMSTABLE]  WITH CHECK ADD  CONSTRAINT [FK_ANTONYMSTABLE_WORD1] FOREIGN KEY([antonym2_id])
REFERENCES [dbo].[WORD] ([word_id])
GO
ALTER TABLE [dbo].[ANTONYMSTABLE] CHECK CONSTRAINT [FK_ANTONYMSTABLE_WORD1]
GO
ALTER TABLE [dbo].[SYNONYMSTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SYNONYMSTABLE_WORD] FOREIGN KEY([synonym1_id])
REFERENCES [dbo].[WORD] ([word_id])
GO
ALTER TABLE [dbo].[SYNONYMSTABLE] CHECK CONSTRAINT [FK_SYNONYMSTABLE_WORD]
GO
ALTER TABLE [dbo].[SYNONYMSTABLE]  WITH CHECK ADD  CONSTRAINT [FK_SYNONYMSTABLE_WORD1] FOREIGN KEY([synonym2_id])
REFERENCES [dbo].[WORD] ([word_id])
GO
ALTER TABLE [dbo].[SYNONYMSTABLE] CHECK CONSTRAINT [FK_SYNONYMSTABLE_WORD1]
GO
ALTER TABLE [dbo].[WORD]  WITH CHECK ADD  CONSTRAINT [FK_WORD_DESCRIPTION] FOREIGN KEY([word_id])
REFERENCES [dbo].[DESCRIPTION] ([description_id])
GO
ALTER TABLE [dbo].[WORD] CHECK CONSTRAINT [FK_WORD_DESCRIPTION]
GO
ALTER TABLE [dbo].[WORD]  WITH CHECK ADD  CONSTRAINT [FK_WORD_LANGUAGE] FOREIGN KEY([word_language])
REFERENCES [dbo].[LANGUAGE] ([language_id])
GO
ALTER TABLE [dbo].[WORD] CHECK CONSTRAINT [FK_WORD_LANGUAGE]
GO
ALTER TABLE [dbo].[WORD]  WITH CHECK ADD  CONSTRAINT [FK_WORD_PARTOFSPEECH] FOREIGN KEY([partofspeech_id])
REFERENCES [dbo].[PARTOFSPEECH] ([partofspeech_id])
GO
ALTER TABLE [dbo].[WORD] CHECK CONSTRAINT [FK_WORD_PARTOFSPEECH]
GO
ALTER TABLE [dbo].[WORD]  WITH CHECK ADD  CONSTRAINT [FK_WORD_WORD] FOREIGN KEY([hyponym_to])
REFERENCES [dbo].[WORD] ([word_id])
GO
ALTER TABLE [dbo].[WORD] CHECK CONSTRAINT [FK_WORD_WORD]
GO
USE [master]
GO
