USE [master]
GO
/****** Object:  Database [HW2TASK3]    Script Date: 8/23/2014 4:04:05 PM ******/
CREATE DATABASE [HW2TASK3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HW2TASK3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HW2TASK3.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HW2TASK3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HW2TASK3_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HW2TASK3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HW2TASK3]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[course_id] [int] NOT NULL,
	[name] [nvarchar](10) NOT NULL,
	[professor_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[department_id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[faculty_id] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY](
	[faculty_id] [int] NOT NULL,
	[name] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_FACULTY] PRIMARY KEY CLUSTERED 
(
	[faculty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESSOR]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSOR](
	[professor_id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[title_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
 CONSTRAINT [PK_PROFESSOR] PRIMARY KEY CLUSTERED 
(
	[professor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESSORCOURSE]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORCOURSE](
	[professor_id] [int] NOT NULL,
	[course_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESSORTITLE]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORTITLE](
	[professor_id] [int] NOT NULL,
	[title_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[student_id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[faculty_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENTCOURSE]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTCOURSE](
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TITLE]    Script Date: 8/23/2014 4:04:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLE](
	[title_id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TITLE] PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_FACULTY] FOREIGN KEY([faculty_id])
REFERENCES [dbo].[FACULTY] ([faculty_id])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_FACULTY]
GO
ALTER TABLE [dbo].[PROFESSOR]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSOR_COURSE] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([course_id])
GO
ALTER TABLE [dbo].[PROFESSOR] CHECK CONSTRAINT [FK_PROFESSOR_COURSE]
GO
ALTER TABLE [dbo].[PROFESSOR]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSOR_DEPARTMENT] FOREIGN KEY([department_id])
REFERENCES [dbo].[DEPARTMENT] ([department_id])
GO
ALTER TABLE [dbo].[PROFESSOR] CHECK CONSTRAINT [FK_PROFESSOR_DEPARTMENT]
GO
ALTER TABLE [dbo].[PROFESSOR]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSOR_TITLE] FOREIGN KEY([title_id])
REFERENCES [dbo].[TITLE] ([title_id])
GO
ALTER TABLE [dbo].[PROFESSOR] CHECK CONSTRAINT [FK_PROFESSOR_TITLE]
GO
ALTER TABLE [dbo].[PROFESSORCOURSE]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORCOURSE_COURSE] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([course_id])
GO
ALTER TABLE [dbo].[PROFESSORCOURSE] CHECK CONSTRAINT [FK_PROFESSORCOURSE_COURSE]
GO
ALTER TABLE [dbo].[PROFESSORCOURSE]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORCOURSE_PROFESSOR] FOREIGN KEY([professor_id])
REFERENCES [dbo].[PROFESSOR] ([professor_id])
GO
ALTER TABLE [dbo].[PROFESSORCOURSE] CHECK CONSTRAINT [FK_PROFESSORCOURSE_PROFESSOR]
GO
ALTER TABLE [dbo].[PROFESSORTITLE]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORTITLE_PROFESSOR] FOREIGN KEY([professor_id])
REFERENCES [dbo].[PROFESSOR] ([professor_id])
GO
ALTER TABLE [dbo].[PROFESSORTITLE] CHECK CONSTRAINT [FK_PROFESSORTITLE_PROFESSOR]
GO
ALTER TABLE [dbo].[PROFESSORTITLE]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORTITLE_TITLE] FOREIGN KEY([title_id])
REFERENCES [dbo].[TITLE] ([title_id])
GO
ALTER TABLE [dbo].[PROFESSORTITLE] CHECK CONSTRAINT [FK_PROFESSORTITLE_TITLE]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([course_id])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_COURSE]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_FACULTY] FOREIGN KEY([faculty_id])
REFERENCES [dbo].[FACULTY] ([faculty_id])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_FACULTY]
GO
ALTER TABLE [dbo].[STUDENTCOURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTCOURSE_COURSE] FOREIGN KEY([student_id])
REFERENCES [dbo].[COURSE] ([course_id])
GO
ALTER TABLE [dbo].[STUDENTCOURSE] CHECK CONSTRAINT [FK_STUDENTCOURSE_COURSE]
GO
ALTER TABLE [dbo].[STUDENTCOURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTCOURSE_STUDENT] FOREIGN KEY([course_id])
REFERENCES [dbo].[STUDENT] ([student_id])
GO
ALTER TABLE [dbo].[STUDENTCOURSE] CHECK CONSTRAINT [FK_STUDENTCOURSE_STUDENT]
GO
USE [master]
GO
