body{
    background-color:#090909;
}
canvas{
    background-color:#1f1f1f;
    border:3px solid #000;
}
canvas:hover{

    background-color:#282828;
}
#wrapper{
    width:1250px;
    margin:0 auto;
}